<div class="send-request">
  <button
    nz-button
    nzType="primary"
    [disabled]="setOfCheckedId.size === 0"
    [nzLoading]="loading"
    (click)="sendRequest()">
    Send Request
  </button>
  <span>Selected {{ setOfCheckedId.size }} items</span>
</div>
<nz-table
  #usersTable
  nzShowPagination
  nzShowSizeChanger
  [nzData]="users"
  [nzFrontPagination]="false"
  [nzTotal]="total"
  (nzQueryParams)="onQueryParamsChange($event)"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  nzTableLayout="fixed">
  <thead>
    <tr>
      <th
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        nzLabel="Select all"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th nzColumnKey="firstName" [nzSortFn]="true">Name</th>
      <th nzColumnKey="dateOfBirth" [nzSortFn]="true">Date of birth</th>
      <th nzColumnKey="gender" [nzFilters]="filterGender" [nzFilterFn]="true">Gender</th>
      <th>Email</th>
      <th>Phone</th>
      <!-- <th>Address</th> -->
      <th nzColumnKey="accountType" [nzFilters]="filterAccountType" [nzFilterFn]="true">Accout type</th>
    </tr>
  </thead>
  <tbody>
    @for (user of usersTable.data; track user.id) {
      <tr>
        <td
          [nzChecked]="setOfCheckedId.has(user.id)"
          [nzDisabled]="user.disabled"
          [nzLabel]="user.firstName"
          (nzCheckedChange)="onItemChecked(user.id, $event)"
        ></td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.dateOfBirth | date:'dd.MM.yyyy' }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <!-- <td>{{ data.address }}</td> -->
        <td>{{ user.accountType }}</td>
      </tr>
    }
  </tbody>
</nz-table>
